body {
    font-family: Arial,  sans-serif; 
    font-size: 11px; 
    background-color: #FFFFFF; 
    color: #333333;
}
h1 {
    color: #0043a8;
    font-size: 24px;
    font-family: Georgia, serif;
}
h2 {
    color: #0043a8;
    font-size: 22px;
    font-family: Georgia, serif;
}
p {
    color: rgb(221, 90, 215);
    font-size: 16px;
    font-family: Georgia, serif;
}
h3 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Georgia, serif;
}
h4 {
    color: rgb(167, 165, 165);
    font-size: 20px;
    font-family: Georgia, serif;
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h5 {
    animation: color-change 3s infinite;
}